ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main_box {
  background-color: beige;
}
.flex_contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_text {
  text-align: center;
}
.paragraf {
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
}
.list_box {
  width: 400px;
  background-color: var(--sub-txt-color);
  margin-left: 30px;
  margin-bottom: 30px;
}

.list_box:nth-child(3n) {
  margin-right: 0px;
}
.list_box:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.pictures_text {
  margin-left: 37px;
  margin-top: 5px;
}
.macet {
  color: #ff0000;
  margin-bottom: 27px;
  margin-left: 65px;
  margin-top: 20px;
  text-align: center;
}

.button_box{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
}
.li-button{
  margin-left: 10px;
}
.button{
  padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: antiquewhite;
    border-radius: 2px;
    border: 1px solid black;
  }
    .button_active{
      padding-left: 10px;
        padding-bottom: 25px;
        padding-right: 10px;
        padding-top: 10px;
        background-color: #d98e29;
        border-radius: 5px;
        border: 3px solid #d3e40d;
        color: aliceblue;
    }

        button:hover,
        .button:focus {
          background-color: var(--heder-link-color);
          color: var(--body-color);
          box-shadow: 0px 4px 4px 0px #00000040;}